/* Navbar.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1000; /* Navbar'ı en öne yerleştir */
  }
  
  .navbar.hidden {
    transform: translateY(-100%);
    opacity: 0;
  }
  
  .navbar.visible {
    transform: translateY(0);
    opacity: 1;
  }

  .navbarh1{
    margin-left: 2%;
    margin-right: 25%;
    display: inline-block;
  }
  

  .navbarh2{
    margin-left: 3%;
    display: inline-block;
  }

  .navbarinput{
    margin-top: 0%;
        border: 1px solid black;
        border-radius:  20px 0px 0px 20px;
        width: 20em;
        height: 2em;

  }

  .navbarbutton{
    margin-right: 15%;
    border: 1px solid black;
    border-radius: 0px 20px 20px 0px;
    width: 5em;
    height: 2.1em;
    color: black;
    background-color: white;
  }